body {background-color: white}
h1 { color: blue; font-family: "android"; text-align: center;}
h2 { color: blue; font-family: "android"; text-align: center;}
h3 { color: black; font-family: "Android"; font-size: 15px; text-align: center;}
h4 { text-align: center;}
form {text-align: center;}
h9 {color: black}
